{% extends 'base.html' %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="styles.css")}}">
{% endblock %}

{% block content %}
<div class="grid">
	<div class="grid-lines"></div>
</div>
	<div class="contentx">
    <button class="toggle-button" onclick="toggleMode()">Light Mode</button>
		<div class="date">May 13, 2024</div>
    <div><h1 class="header" data-text-content="Welcome to Gitty"></h1></div>
		<div class="description">
		<p>Your Favourite GitHub Tracer built with Flask and Node.js. Unlock detailed insights into your GitHub with charts on commits, stars, issues, and more. See your code like never before. Start now!</p>
    </div>
		<div class="actions">
      <a href="{{ url_for('accountsbp.login') }}" class="primary-btn">
				View Gitty in Action
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 9L9 1M9 1H2.5M9 1V7.22222" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
				<div class="underline"></div>
			</a>
		</div>
</div>
{% endblock %}
