<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/gpt3.css') }}?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/scripts/index.js') }}?{{ cache_id }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="whole-section">
        <nav class="navbar">
            <div class="logo">Gitty</div>
            <div class="mode">light</div>
        </nav>    
    
        <section class="searching">
            <div class="search_bar">
                <form action="/search" method="post">
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input type="search" name="username" class="search-input" placeholder="Search GitHub username..">
                    </div>
                </form>
            </div>
        </section>


        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
    </div> 
</body>
</html>
