@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #f6f8fa; /* GitHub background color */
    color: #24292e; /* GitHub text color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main container */
.whole-section {
    width: 80%;
    max-width: 1200px;
}

/* Navbar styles */
.navbar {
    background-color: #24292e; /* GitHub navbar color */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

/* Search section styles */
.searching {
    padding: 20px;
    text-align: center;
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    font-size: 24px;
    color: #666;
    margin-right: 10px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    background-color: #0366d6; /* GitHub primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0552e6; /* Darker shade of primary color */
}

/* Content section styles */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* Profile picture styles */
.profile img {
    max-width: auto;
    max-height: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.personal_info {
    flex: 1;
}

.head_wrapper {
    margin-bottom: 20px;
}

.user_name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.date_joined, .nickname {
    color: #586069; /* GitHub secondary text color */
}

.bio {
    margin-bottom: 20px;
}

.real_data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.repos, .followers, .following {
    text-align: center;
}

.identity, .text {
    font-size: 16px;
    color: #586069; /* GitHub secondary text color */
}

.count {
    font-size: 24px;
    font-weight: bold;
}

/* Footer styles */
.footer {
    display: flex;
    flex-wrap: wrap;
}

.icons {
    margin-right: 20px;
}

.real_icon {
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: #586069; /* GitHub secondary text color */
    margin-right: 5px;
}

.origin {
    font-size: 14px;
    color: #586069; /* GitHub secondary text color */
}
