{% extends 'base.html' %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="accounts.css")}}">
{% endblock %}

{% block content %}
 <div class="container">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <legend>Gitty Sing-Up</legend>
            <div class="name-box">
                {{ form.username(class="input-text", placeholder="Username")}}
                <!--<input type="text" placeholder="Username" required class="input-text">-->
                <i class='bx bxs-user'></i>
            </div>
            <div class="name-box">
                {{ form.email(class="input-text", placeholder="Email")}}
                <!--<input type="password" id="input-field" placeholder="Email" required class="input-text"> -->
		<i class='bx bx-envelope'></i>
            </div>

            <div class="name-box">
                {{ form.password(class="input-text", placeholder="Password")}}
                <!--<input type="password" id="input-field" placeholder="Password" required class="input-text">-->
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="name-box">
                {{ form.confirm_password(class="input-text", placeholder="Confirm password")}}
                <!--<input type="password" id="input-field" placeholder="Confim password" required class="input-text">-->
                <i class='bx bxs-lock-alt'></i>
            </div>

            {{ form.submit(class="btn")}}
            <!--<button type="submit" class="btn">Gitty sigup</button>-->
            <div class="create-account">
		    <p>Already have an account? <a href="{{ url_for('accountsbp.login') }}" class="register-link">Log in</a></p>
            </div>
        </form>
    </div>
{% endblock %}
